<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UofG BikeShare</title>

    <!-- Bootstrap -->
    <link href="/static/css/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/static/css/custom.min.css" rel="stylesheet">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- jQuery CDN -->
    <script src="/static/js/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/admin_nav.js"></script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- insert nav title -->
                <div id="nav_title_div">

                </div>

                <!-- space -->
                <div class="clearfix"></div>
                <br/>

                <!-- sidebar menu -->
                <div id="admin_side_menu">

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div id="top_nav_div">

        </div>

        <!-- page content -->
        <div id='app' class="right_col" role="main">

            <div class="ml-3 mr-3">
                <div class="page-title">
                    <div class="title_left mb-3">
                        <h3 class="display-4">User Management</h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <el-table
                        :data="tableData.filter(data => !search || data.username.toLowerCase().includes(search.toLowerCase()))"
                        style="width: 100%">
                    <el-table-column label="User ID" prop="id" sortable>
                    </el-table-column>
                    <el-table-column label="Username" prop="username" sortable>
                    </el-table-column>
                    <el-table-column label="Email" prop="email">
                    </el-table-column>
                    <el-table-column label="Account Balance" prop="account_balance" sortable>
                    </el-table-column>
                    <el-table-column align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input v-model="search" size="mini" placeholder="Enter the username"/>
                        </template>
                    </el-table-column>
                </el-table>

            </div>
        </div>
    </div>
    <!-- /page content -->
</div>
</div>
<script>
			new Vue({
				el: '#app',
				data: function() {
					return {
						visible: false,
						tableData: '',
						search: '',
					}
				},
				mounted: function() {
					this.getUser();
				},
				methods: {
					getUser: function() {
						var that = this;
						axios.get("/users/list", {
								headers: {
									"Authorization": "jwt " + localStorage.getItem('jwt')
								}
							})
							.then(function(response) {
								that.tableData = response.data.results;
								console.log(response.data);
							})
					},
					handleDelete(index, row) {
						var that = this;
						var msg = row.id;
						axios.delete("/users/delete/" + msg + "/", {
								headers: {
									"Authorization": "jwt " + localStorage.getItem('jwt')
								}
							})
							.then(function(response) {
								that.getUser();
							})
					},
				},
			})


</script>

<!-- jQuery -->
<script src="/static/css/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/css/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/static/css/vendors/fastclick/lib/fastclick.js"></script>
<!-- bootstrap-progressbar -->
<script src="/static/css/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- DateJS -->
<script src="/static/css/vendors/DateJS/build/date.js"></script>

<!-- Custom Theme Scripts -->
<script src="/static/js/custom.min.js"></script>
<script src="/static/js/admin_jwt.js"></script>

</body>

</html>
