<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            <li>
                <a href="/admin/visual"><span class="glyphicon glyphicon-dashboard ml-3 mr-2" aria-hidden="true"></span>
                    Visualisation</a>
                <a href="/admin/bike"><span class="glyphicon glyphicon-qrcode ml-3 mr-2" aria-hidden="true"></span>
                    Manage Product</a>
                <a href="/admin/user"><span class="glyphicon glyphicon-user ml-3 mr-2" aria-hidden="true"></span> Manage
                    Users</a>
                <a href="/admin/order"><span class="glyphicon glyphicon-list-alt ml-3 mr-2" aria-hidden="true"></span>
                    View Orders</a>


            </li>

        </ul>
    </div>

</div>
<!-- /sidebar menu  -->