<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Online Market</title>

    <!-- Bootstrap -->
    <link href="/static/css/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/static/css/custom.min.css" rel="stylesheet">

    <!-- jQuery CDN -->
    <script src="/static/js/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/user_nav.js"></script>
    <script>
			$(function() {
				$("#nav_title_div").load("/user/title");
			});


    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <!-- insert nav title -->
                <div id="nav_title_div">

                </div>

                <!-- space -->
                <div class="clearfix"></div>
                <br/>

                <!-- sidebar menu -->
                <div id="user_side_menu">

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div id="top_nav_div">

        </div>

        <!-- page content -->
        <div id='app' class="right_col" role="main">
            <div class="ml-3 mr-3">
                <div class="page-title">
                    <div class="title_left mb-3">
                        <h3 class="display-4">Account Balance</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!-- balance labels -->
                <div class="row mt-4 mb-3">
                    <div class="col-sm display-4">
                        <span v-text="'$ '+balances"></span>
                    </div>
                </div>

                <label for="basic-url" class="mt-4 text-muted h6">Enter the amount that you would like to top-up</label>
                <div class="input-group w-50">
                    <span class="input-group-addon" id="basic-addon3">$</span>
                    <input type="text" class="form-control" v-model="balance" id="basic-url"
                           aria-describedby="basic-addon3">
                </div>

                <button type="button" @click="addBlance" class="btn btn-primary mt-4">Confirm</button>

            </div>
        </div>
    </div>
    <!-- /page content -->

</div>
</div>

<!-- jQuery -->
<script src="/static/css/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/css/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/static/css/vendors/fastclick/lib/fastclick.js"></script>
<!-- bootstrap-progressbar -->
<script src="/static/css/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- DateJS -->
<script src="/static/css/vendors/DateJS/build/date.js"></script>

<!-- Custom Theme Scripts -->
<script src="/static/js/custom.min.js"></script>
<!-- main -->
<script type="text/javascript" src="/static/js/main.js"></script>
<script src="/static/js/balance.js"></script>
</body>


</html>
