<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            <li>
                <a href="/"><span class="glyphicon glyphicon-user ml-3 mr-2" aria-hidden="true"></span> Login</a>
                <a href="/user/register"><span class="glyphicon glyphicon-pencil ml-3 mr-2" aria-hidden="true"></span>
                    Register</a>
            </li>

        </ul>
    </div>
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="/user/about"><span class="glyphicon glyphicon-info-sign ml-3 mr-2" aria-hidden="true"></span>
                    About</a>
            </li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->