<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            <li>
                <a href="/user/profile"><span class="glyphicon glyphicon-cog ml-3 mr-2" aria-hidden="true"></span>
                    Information</a>
                <a href="/user/productlist"><span class="glyphicon glyphicon-globe ml-3 mr-2" aria-hidden="true"></span>
                    Product List</a>
                <a href="/user/shoppingcart"><span class="glyphicon glyphicon-shopping-cart ml-3 mr-2"
                                                   aria-hidden="true"></span> Shopping Cart</a>
                <a href="/user/history"><span class="glyphicon glyphicon-time ml-3 mr-2" aria-hidden="true"></span>
                    Payment</a>
                <a href="/user/balance"><span class="glyphicon glyphicon-usd ml-3 mr-2" aria-hidden="true"></span>
                    Wallet</a>
                <a href="/user/passwd"><span class="glyphicon glyphicon-th ml-3 mr-2" aria-hidden="true"></span>
                    Password</a>
            </li>

        </ul>
    </div>
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="/user/maintain"><span class="glyphicon glyphicon-comment ml-3 mr-2" aria-hidden="true"></span>
                    Support</a>
            </li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->